In [16]:
#Q1. Create one variable containing following type of data:
#(i)	string
#(ii)	list
#(iii)	float
#(iv)	tuple


x="hello world"
print(type(x))
print(x)
y=[1,2,3,4,"mango","public",34.5,2454]
print(y)
print(type(y))
z=("vegtables","potatos","fruits","world")
print(z)
print(type(z))
a=3.14
print(a)
print(type(a))

<class 'str'>
hello world
[1, 2, 3, 4, 'mango', 'public', 34.5, 2454]
<class 'list'>
('vegtables', 'potatos', 'fruits', 'world')
<class 'tuple'>
3.14
<class 'float'>

In [2]:
#Q2. Given are some following variables containing data:
#(i)	var1 = ‘ ‘
#(ii)	var2 = ‘[ DS , ML , Python]’
#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv)	var4 = 1.
#What will be the data type of the above given variable


var1=' '
var2 = '[ DS , ML , Python]'
var3=['ds','ml','python']
var4=1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [30]:
# Q3. Explain the use of the following operators using an example:
#(i)	/
#(ii)	% 
#(iii)	//
#(iv)	**


a=int(input("enter value of a :"))
b=int(input("enter value of b :"))
division=a/b
print("division of a and b:", division)
modulas=a%b
print("modulas of a and b:", modulas)
double_division=a//b
print("double_division of a and b:", double_division)
square=a**b
print("square of a and b:", square)

enter value of a : 11
enter value of b : 3

division of a and b: 3.6666666666666665
modulas of a and b: 2
double_division of a and b: 3
square of a and b: 1331

In [2]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type


value=[1,2,3.14,'true',"mango","friuts",b"hello" ,3.14]
for i in value :
    print(type(value), i)

<class 'list'> 1
<class 'list'> 2
<class 'list'> 3.14
<class 'list'> true
<class 'list'> mango
<class 'list'> friuts
<class 'list'> b'hello'
<class 'list'> 3.14

In [13]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible'''
# i am not able to solve this question sir please provide me solution of this qusestion.

a=(int(input("type a number"))) 
b=(int(input("type b number"))) 
c=0
if  a / b==0:
    while a/b>=b and type(a/b)==int:
        c+=1
        a/=b
    c    
else:
    ("no a is not divisible by b")

type a number 22
type b number 11

In [31]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.'''

l=[2,3,45,55,65,67,44,23,66,12,72,98,5,31,62,22,4,32,54,234,95,673,21,13,343]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else :
        l2.append(i)
l1

[3, 45, 66, 12, 72, 54, 234, 21]

In [32]:
l2

[2, 55, 65, 67, 44, 23, 98, 5, 31, 62, 22, 4, 32, 95, 673, 13, 343]

In [51]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.'''

#ANSWERS: 
'''mutable mean you can change the value of that data type after declaired that data whereas as immutable mean you are not able to cahnge the value
of that data types once you declaired it'''
l=[1,3,5,6,3,6,3,"juhi","school"]
l

[1, 3, 5, 6, 3, 6, 3, 'juhi', 'school']

In [52]:
#example of immutable
l[3]=33
l

[1, 3, 5, 33, 3, 6, 3, 'juhi', 'school']

In [50]:
#example of immutable
l1=(2,4,6,7,3,33)
l1[0]=100
l1

TypeError: 'tuple' object does not support item assignment